body{
  font-family: sans-serif;
}
#top{
  width: 800px;
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
strong{
  color: rgb(64, 117, 175);
}
h1, h2, h3{
  text-align: center;
}
h3{
  margin-top: -35px;
  font-weight: lighter;
  font-size: 1.27em;
}
h1{
  font-size: 2.7em;
}
#shape-result{
  width: 800px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  margin-top: 25px;
}
#final-shape{
  background-color: #f3f3f3;
  width: 500px;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
}
.result-output{
  margin-top: -18px;
}
/*.result-title{
  font-weight: bold;
}*/
.inputs-and-results{
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 200px;
}
.inputs{
  width: 198px;
  height: 180px;
  float: left;
  margin: 35px 35px 0 131px;
}
#results{
  width: 325px;
  height: 200px;
  float: left;
  margin: 9px 0 0 0;
}
.result-title{
  color: #ababab;
}
.input{
  margin-bottom: 10px;
  margin-top: 10px;
}
button{
  margin-left: 60px;
  margin-top: 20px;
}
.shoe-size{

}
