body{
  color: #4a4a4a;
}
strong{
  color: #0496ff;
}
h1, h3{
  text-align: center;
}
h3{
  margin-top: 0px;
  font-weight: lighter;
  font-size: 1.27em;
  color: #8c8c8c;
}
h1{
  font-size: 2.7em;
  margin: 8px auto -4px auto;
  color: #D62828
}
h2{
  text-align: center;
}
.small-line{
  width: 80%;
  border: 1px dashed #ffdfdf;
}
.smallest-text{
  margin: 0 0 0 0;
  font-size: .6em;
  font-style: italic;
}
button{
  background: red;
  width: 102px;
  height: inherit;
  margin-top: 15px;
  background-color: #4075af;
  border-style: none;
  font-weight: normal;
  color: white;
  font-size: .95em;
  cursor: pointer;
  border-radius: 1px;
}
#content{
  font-family: sans-serif;
  max-width: 490px;
  min-width: 320px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
#header{
  font-size: 120%;
  font-family: sans-serif;
  width: auto;
}
#header{
  overflow: hidden;
  height: auto;
  /*background-color: #b5e2fa;*/
  margin-top: -8px;
  min-width: 320px;
}
.navigation{
  margin: 0 0 2px 20px;
}

.tiptext {
  /*background:#ccc;
  border: 1px #333 solid;*/
  padding:5px;
  width:100px;
  margin: 0 0 2px 20px;
}
.description {
  display: none;
  position: absolute;
  border: 1px solid #ffdfdf;
  width: 281px;
  height: 373;
  background-color: white;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 5px 7px 12px #e0e0e0;

}

.inputs{
  width: 60%;
  float: left;
  margin: 20px 0 0 0;
  text-align: center;
}
.inputs, #results{
  font-size: 1.3em;
}
.input{
  margin-bottom: 2px;
  margin-top: 7px;
  width: 64px;
}
#custom-inches-input{
  width: 53px;
  margin-top: 6px;
}
input[type=radio] {
  margin-bottom: 15px;
}
#female-button{
  margin-right: 50px;
}
.switch-icon{
  width: 12px;
}
#height{
  margin-top: 0px;
}
#calculate{
  background-color: #0496ff;
}
#results{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  float: left;
  margin: 15px 0 10px -20px;
  text-align: left;
}
.result-title{
  color: #ababab;
  margin: 20px 0 0 0;
}
.bottom-content{
  visibility: hidden;
  margin: 0 auto;
  text-align: center;
  clear: both;
}
#reset-button{
  text-align: center;
  width: 300px;
  clear: both;
  margin: 0 auto;

}
#shape-result{
  width: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  margin-top: 25px;
}
#reset-all{
  background-color: #f79797;
  width: 55px;
  height: inherit;
  font-size: .9em;
  border-radius: 1px;
}
#final-shape{
  background-color: #c6cbd2;
  width: 0px;
  height: 0px;
  margin-right: auto;
  margin-left: auto;
}
.clearable{
  background: #fff url(https://i.stack.imgur.com/mJotv.gif) no-repeat right -10px center;
  border: 1px solid #999;
  padding: 3px 18px 3px 4px;     /* Use the same right padding (18) in jQ! */
  border-radius: 3px;
  transition: background 0.4s;
}
.clearable.x  { background-position: right 5px center; } /* (jQ) Show icon */
.clearable.onX{ cursor: pointer; }              /* (jQ) hover cursor style */
.clearable::-ms-clear {display: none; width:0; height:0;} /* Remove IE default X */


/* Responsive breakpoints*/
@media (max-width: 600px){
  body{
    font-family: sans-serif;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    color: #4a4a4a;
    /*font-size: 1.4em;*/
  }
  #header{
    font-size: 1.5em;
    /*margin: 0 auto;
    text-align: center;*/
  }
  h1{
    color: #D62828;
  }
  h2{
    font-size: 1em;
  }
  strong{
    color: #0496ff;
  }
  .inputs{
    float: none;
    margin: 0 auto;
    width: 100%;
    font-size: 1.7em;

  }
  .switch-icon{
    width: 18px;
    margin-top: 7px;
  }
  #results{
    float: none;
    line-height: 100%;
    margin: -9px auto -22px auto;
    width: 92%;
    text-align: center;
    font-size: 1.2em;
  }
  .result-section{
    float: left;
    width: 50%;
    margin: -25px 0 0 0;
  }
  #calculate{
    margin:10px 0 10px 0;
    padding: 5px 0;
    width: 50%;
    background-color: #0496ff;
  }
  button{
    font-size: .8em;
  }
  #reset-all{
    width: 50%;
    padding: 7px 0;
  }
  #shape-result{
    margin-top: 0px;
  }

}

@media (max-width: 414px){

}

@media (max-width: 320px){
  body{
    font-size: .8em;
    color: #4a4a4a;
  }
  .switch-icon{
    width: 14px;
    margin-top: 0px;
  }
  .inputs{
    margin-top: 10px;
  }
  #results{
    line-height: 100%;
    margin: -9px auto -22px auto;
    font-size: 1.2em;
  }
  #shape-result{
    margin-top: 0px;
  }
  #calculate{
    margin-top: 12px;
    background-color: #0496ff;
  }
  #header{
    overflow: hidden;
    height: auto;
    /*background-color: #b5e2fa;*/
    margin-top: -8px;
  }
  .description{
    width: 233px;
  }
  #content{
    overflow: auto;
    height: 428px;
    margin-bottom: -8px;
  }
  #reset-all{
    background-color: #ffbc42;
  }
  #final-shape{
    background-color: #b5e2fa;
  }
  h1{
    margin: 8px auto -4px auto;
    color: #D62828;
  }
  h3{
    margin: 0 auto 5px auto;
    color: #8c8c8c;
  }
  strong{
    color: #0496ff;
  }

}
