strong{
  color: rgb(64, 117, 175);
}
h1, h3{
  text-align: center;
}
h3{
  margin-top: -35px;
  font-weight: lighter;
  font-size: 1.27em;
}
h1{
  font-size: 2.7em;
}
h2{
  text-align: center;
}
button{
  background: red;
  width: 102px;
  height: inherit;
  margin-top: 15px;
  background-color: #4075af;
  border-style: none;
  font-weight: normal;
  color: white;
  font-size: .95em;
  cursor: pointer;
  border-radius: 1px;
}
body{
  font-family: sans-serif;
  max-width: 460px;
  min-width: 320px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
#header{
  font-size: 100%;
}
.inputs{
  width: 60%;
  float: left;
  margin: 20px 0 0 0;
  text-align: center;
}
.input{
  margin-bottom: 2px;
  margin-top: 15px;
  width: 75px;
}
input[type=radio] {
  margin-bottom: 15px;
}
#female-button{
  margin-right: 50px;
}
.switch-icon{
  width: 12px;
}
#height{
  margin-top: 0px;
}
#results{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  float: left;
  margin: 15px 0 10px -20px;
  text-align: left;
}
.result-title{
  color: #ababab;
  margin: 20px 0 0 0;
}
.bottom-content{
  visibility: hidden;
  margin: 0 auto;
  text-align: center;
  clear: both;
}
#reset-button{
  text-align: center;
  width: 300px;
  clear: both;
  margin: 0 auto;

}
#shape-result{
  width: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  margin-top: 25px;
}
#reset-all{
  background-color: #f79797;
  width: 55px;
  height: inherit;
  font-size: .9em;
  border-radius: 1px;
}
#final-shape{
  background-color: #c6cbd2;
  width: 0px;
  height: 0px;
  margin-right: auto;
  margin-left: auto;
}
.clearable{
  background: #fff url(https://i.stack.imgur.com/mJotv.gif) no-repeat right -10px center;
  border: 1px solid #999;
  padding: 3px 18px 3px 4px;     /* Use the same right padding (18) in jQ! */
  border-radius: 3px;
  transition: background 0.4s;
}
.clearable.x  { background-position: right 5px center; } /* (jQ) Show icon */
.clearable.onX{ cursor: pointer; }              /* (jQ) hover cursor style */
.clearable::-ms-clear {display: none; width:0; height:0;} /* Remove IE default X */


/* Responsive breakpoints*/
@media (max-width: 600px){
  body{
    font-family: sans-serif;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  #header{
    font-size: 120%;
    margin-top: -20px;
    /*margin: 0 auto;
    text-align: center;*/
  }
  h2{
    font-size: 1em;
  }
  .inputs{
    float: none;
    margin: -10px auto 0 auto;
    width: 100%;
  }
  .switch-icon{
    width: 18px;
    margin-top: 7px;
  }
  #results{
    float: none;
    margin: 13px auto 0 auto;
    width: 75%;
    text-align: center;
  }
  .result-section{
    float: left;
    width: 50%;
    margin: -25px 0 0 0;
  }
  #calculate{
    margin:20px 0 10px 0;
    padding: 5px 0;
    width: 50%;
  }
  button{
    font-size: .8em;
  }
  #reset-all{
    width: 50%;
    padding: 7px 0;
  }

}
